.page-wrapper{
  margin:0px auto;
  width:800px;
  text-align:left;
  background-color:#FAF5C4;

/*trasicion all2s */
}

 .page-wrapper h3 {
 color: #1C1811;
  font-size: 25px;
background-color: #9DCFF3;
border-radius: 12%;
padding: 10px 20px;

}

/*body parrafos*/
.preamble, .explanation, .participation, .benefits, .requirements{
    top: 150px;
    position: relative;
    left: 63px;
    color: #B0A77E;
    width: 340px;
    padding-bottom: 29px;
    text-align: justify
    }
    /*enlaces*/
  .sidebar {

        top: 485px;
        margin-left: 410px;
        width: 196px;
        background-position: left top;
        padding-left: 90px;
        position: absolute;
      }

  body {

    text-align: center;
    background: url(img/body.jpg) ;
  /*  background-size: cover;*/
    background-attachment: fixed;
}
footer {
    text-align: left;
    padding-left: 63px;
    padding-top: 140px;

  }
.zen-validate-html, .zen-validate-css,  .zen-license, .zen-accessibility, .zen-github{
    font-size:10px;
    text-decoration: none;
    margin:10px 10px;
    display: inline-block;
    background: 	#E9967A;
    color: #FFF;
    padding: 13PX 18PX;
    box-shadow: 0PX 2PX 0PX #1d64a6;
    border-radius: 100%;
  }
  /* encabezado*/
  header {
      text-align:center;
      font-family: forte;
      background-image: url(img/head.jpg);
      background-size:cover;
      margin:5px 10px;
      padding: 20PX 20PX;
  }
  header h1{
    color:#DA8BDC;
    font-family: Ravie;
    font-size: 40px;
text-align: right;
margin: opx 100px;
  }
  header h2{
    color:#9B8BDC;
    font-family: Brush Script MT;
    font-size: 25px;
    text-align: right;
  }

.summary{
  background-image: url(img/hhh.jpg);
  padding: 20PX 40PX;
  background-size:cover;
  text-align: center;
  font-family: Imprint MT Shadow;
  color:#22ABE5;
}
.design-selection{

  border-radius: 5px;
 font-size: 15px;
  border: solid #32CD32;
    padding:0px 0px;
    margin: 10px 10px;
    border-width: 20px 5px 5px 5px;

}
.design-selection h3  {
  background-color: #32CD32;
border-radius: 0%;
padding:10px 10px;
margin: 0px 0px;
text-align:center;
font-family: Colonna MT;
color:#FAF3F3;

}
.design-archives{

  border: solid #32CD32;
    border-radius: 5px;
    padding:0px 0px;
    margin: 10px 10px;
    border-width: 20px 5px 5px 5px;
}
.design-archives h3{
  background-color: #32CD32;
border-radius: 0%;
padding:10px 10px;
margin: 0px 0px;
text-align:center;
font-family: Colonna MT;
color:#FAF3F3;


}
.zen-resources{

  border: solid #32CD32;
    border-radius: 5px;
    padding:0px 0px;
    margin: 10px 10px;
    border-width: 20px 5px 5px 5px;
}
.zen-resources h3{
  background-color: #32CD32;
border-radius: 0%;
padding:10px 10px;
margin: 0px 0px;
text-align:center;
font-family: Colonna MT;
color:#FAF3F3;
}
.design-name {
  font-family: Californian FB;
  color: #476695;

}
